@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Baloo+Bhaijaan+2:wght@600&family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
nav{
	margin-top: -10px;
	background-color: white;
}
.fn1{
	font-family: 'Baloo Bhaijaan 2', cursive;
}
.fn2{
	font-family: 'Josefin Sans', sans-serif;
}
.fn3{
	font-family: 'Courgette', cursive;
}
.fn4{
	font-family: 'Josefin Sans', sans-serif;
}
.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}
.underline-animate {
    background-image: linear-gradient(transparent, transparent), linear-gradient( orange, orange);
}
.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}
.line-text {
	border-bottom: 1px solid #000; 
	line-height: 0.1em;
} 
.line-text span { 
	background: #fff; 
	padding: 0 10px; 
}
#add-modal {
    background: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
}
.hover\:bg-orange-500:hover {
    --bg-opacity: 1;
    background-color: #ed8936;
    background-color: rgba(237,137,54,var(--bg-opacity));
    color: black;
}
.bg-image {
    background-image: url(./images/image7.jfif);
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    padding: 120px 0px;
    position: relative;
}
.bg-image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.7);
}
.about-header {
    background-image: url(./images/image6.jpg);
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    max-height: 350px;
} 